#discharged {
	background: #1e77ae url('../images/discharge_screen.jpg') center top no-repeat;
	overflow: hidden;
	color: white;
	font-size: 22px;
	font-weight: bold;
	margin: 0;
	padding: 0;				
	z-index: 10;
}

#discharged #content {    
	position: absolute;
	font-size: 54px;
	font-weight: 600;
	display: block;
	left: 216px;
	top: 304px;
	text-align: center;
	width: 860px;
	line-height: 70px;
}

#discharged #content p {
	font-size: 54px;
	font-weight: 600;
	line-height: 70px;
	text-shadow: 1px 1px 5px #000;
}

#discharged #room {
	font-size: 54px;
	font-weight: 600;
	line-height: 70px;
	text-shadow: 1px 1px 5px #000;
}

#discharged #datetime {
	position: absolute;
	top: 25px;
	right: 55px;
	font-size: 24px;
	text-shadow: 1px 1px 5px #000;
}

#discharged #instructions {    
	position: absolute;
	font-size: 32px;
	font-weight: 600;
	display: block;
	left: 216px;
	top: 650px;
	text-align: center;
	width: 860px;
	line-height: 70px;
}

#discharged #instructions p {
	font-size: 45px;
	font-weight: 600;
	line-height: 70px;
	text-shadow: 1px 1px 5px #000;
}

#discharged #revision {
	position: absolute;
	left: 20px;
	bottom: 10px;
	font-size: 12px;
	color: #444444;
	z-index: 9;
}

