* {
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
}

body, .{
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
    overflow: hidden;
}

.lfloat {
	float: left;
}

.rfloat {
	float: right;
}

#clear,.clear {
	clear: both;
}

.mask {
	position:fixed;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.9;
}

.hcenter-wrapper {
	position:absolute;
	left:50%;
	float:left;
}

.hcenter {
	position:relative;
	margin-left:-50%;
	float:left;
}

.hcenter-wrapper {
	position:absolute;
	left:50%;
	float:left;
}

.hcenter {
	position:relative;
	margin-left:-50%;
	float:left;
}


.close-button {
	background: url(../images/close.png) top left no-repeat;
	position: absolute;
	right: -40px;
	top: -40px;
	width: 72px;
	height: 72px;
	z-index: 10;
	cursor:pointer;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;	
}