/* intro panel */

#intro {
	background: url(../images/bk_intro.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	font-size: 28px;
	position: absolute;
	display: inline-block;
	z-index: 0;
	-webkit-box-shadow: 6px 6px 8px #313232;
	box-shadow: 6px 6px 8px #313232;
}

#intro #logo{
	background: url(../images/logo_small-color.png) top left no-repeat;
	width: 220px;
	height: 132px;
	display: block;
	float: left;
	margin: 20px 0 0 970px;
}

#intro #remote {
	background: url(../images/img_pillowspeaker-gv.png) no-repeat;
	width: 250px;
	height: 483px;
	/*margin: 120px 0px 0px -60px;*/
	display: inline-block;
	position: absolute;
	left: 280px;
	top: 64px;

}
#intro #heading {
	/*background: url(../images/img_pillowspeaker-swedish.png) 90px 5px no-repeat;*/
	/*margin: 120px 0px 0px 10px;*/
	width: 1000px;
	height: 80px;
	display: inline-block;
	position: absolute;
	left: 175px;
	top: 138px;
	text-align: center;
}
#intro #regtext {
	width: 460px;
	height: 483px;
	display: inline-block;
	position: absolute;
	left: 120px;
	top: 160px;

}
#intro #regtext p {
	min-height: 22px;
	line-height: 24px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	font-weight: 700;
	font-size: 20px;
	
}

#intro #regtext2 {
	width: 570px;
	height: 526px;
	display: inline-block;
	position: absolute;
	left: 630px;
	top: 160px;
}
#intro #regtext2 p {
	min-height: 22px;
	line-height: 24px;
	margin: 0px 10px 0px 10px;
	text-align: left;
	position: relative;
	font-weight: 700;
	font-size: 20px;
	
}
#intro #regtext p.text1 {
	color: rgba(252,254,254,1.00);
	text-align: left;
}

#intro #regtext p.text2  {
	color: rgba(246,242,115,1.00);
	text-align: left;
}
	
#intro #instruction {
	/*background: url(../images/img_pillowspeaker-swedish.png) 90px 5px no-repeat;*/
	/*margin: 120px 0px 0px 10px;*/
	width: 570px;
	height: 483px;
	display: inline-block;
	position: absolute;
	left: 651px;
	top: 205px;
	text-align: right;
}

#intro #instruction p {
	min-height: 30px;
	line-height: 30px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	position: relative;
	font-weight: 700;
	text-shadow: 2px 2px 6px rgba(0,0,0,1.00);
}


#intro #instruction p.text1 {
	color: rgba(252,254,254,1.00);
	text-align: left;
}

#intro #instruction p.text2  {
	color: rgba(200,219,153,1.00);
	text-align: left;
}

#intro #instruction p.text2-sm  {
	color: rgba(200,219,153,1.00);
	text-align: left;
	font-size: 22px;
}
#intro #instruction  p.text3  {
	color: rgba(189,239,254,1.00)
	text-align: left;
}
#intro #instruction p.text4 {
	color: rgba(252,254,254,1.00);
	text-align: left;
	font-size: 40px;
}

/*#intro #aboutus {
	background-repeat: no-repeat;
	background-position: top center no-repeat;
	width: 420px;
	height: 260px;
	margin: 17px 0px 0px 595px;
	position: absolute;
	left: 73px;
	top: 166px;
	background-color: rgba(101,183,36,1.00);
}

#intro #aboutus #image {
	background: url(../images/video_sim-welcomevideo_sm.jpg) top center no-repeat;
	width: 408px;
	height: 248px;
	margin: 4px 4px 4px 4px;
	position: absolute;
	top: 2px;
	left: 2px;
}
*/

#intro #buttons {
	width: 420px;
	height: 172px;
	font-size: 36px;
	margin: 400px 0px 0px 54px;
	display: inline-block;
	position: absolute;
	left: 65px;
	top: 76px;
}

#intro #buttons a {
	/*background: url(../images/intro_badge.png) top center no-repeat;*/
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: rgba(252,252,252,1.00);
	background-color: #003768;
	width: 420px;
	height: 50px;
	/*border-radius: 6px;*/
	box-shadow: 6px 4px 10px #333333;
}

#intro #buttons a.active {
	background-color: rgba(144,176,62,1.00);
}

#intro #buttons a.myview.active {
	background-color: rgba(144,176,62,1.00);
	font-size: 40px;
}

#intro #buttons a.mycare {
	width: 420px;
	height: 50px;
	margin: 0px 0px 0px 0px;
	float: left;
	position: relative;
}

#intro #buttons a.watchtv {
	width: 420px;
	height: 50px;
	margin-top: 20px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	float: right;
	position: relative;
}

#intro #buttons a.myview {
	background: url(../images/btn_intro2.png) top center no-repeat;
	width: 600px;
	height: 50px;
	font-size: 36px;
	line-height: 50px;
	margin: 14px 0px 0px 0px;
	float: left;
	position: relative;
}
