.moviedetail {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(../images/bk_default-movies.jpg) top left no-repeat;
}

.moviedetail .background {
    width: 1280px;
    height: 720px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(../images/bk_default2.jpg) top left no-repeat;
    z-index: 1;
}

.moviedetail .page-title {
    left: 66px;
    top: 100px;
    width: 328px;
    height: 66px;
    z-index: 1;
    text-align: center;
    letter-spacing: 1px;
	color: #549FC3;
    line-height: 72px;
    background-size: cover;
	background-color: #FCFCFC;
    border-top-left-radius: 26px 26px;
    border-top-right-radius: 26px 26px;
    font-weight: bold;
	position: absolute;
}

.moviedetail #header {
    width: 100%;
    height: 145px;
    position: absolute;
    background: url(../images/bk_secondary_gradient.png) top left no-repeat;
}

.moviedetail #header #heading1 {
	height: 340px;
	top: 300px;
	left: 130px;
	position: absolute;
	display: inline-block;
	float: left;
	width: 273px;
	z-index: 2;
}
.moviedetail #header #heading1 img {
	width: 205px;
	height: 275px;
	margin-top: -15px;
}

.moviedetail #header #heading1 p {
    color: #003768;
}

.moviedetail #header #heading2 {
    width: 340px;
    height: 56px;
    top: 162px;
    left: 60px;
    position: absolute;
    float: left;
    z-index: 1;
	background-color: #559CBE;
	box-shadow: 1px 4px 8px 0px #353535;  
}

.moviedetail #header #heading2 p {
	color: #F0F4F5;
    text-align: center;
    font-size: 28px;
    padding-top: 14px;
    font-weight: 600;
}

.moviedetail #content {
    width: 100%;
    height: 575px;
    top: 145px;
    position: absolute;
    left: 0px;
    background: url(../images/bk_default2.jpg) top left no-repeat;
}

.moviedetail #menu {
    width: 100%;
    height: 100%;
}

.moviedetail #menu .major {
	position: absolute;
	width: 330px;
	height: 426px;
	left: 66px;
	top: 76px;
	padding: 0px 0 0 0;
	/*background: #333230;*/
	box-shadow: 2px 2px 6px 0px #0C1E32;
	background-color: rgba(31,87,112, 1.0);
	border-bottom-right-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;	
}

.moviedetail #menu .major a {
	position: relative;
	display: block;
	height: 30px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 15px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 1px;
	border-radius: 8px;
	background-color: rgba(48,138,200,1.00);
}
.moviedetail #menu .major a.back-button {
	font-size: 26px;
	top: 0px;
	text-align: left;
	margin-bottom: 20px;
	background-color: rgba(48,138,200,0.70);
	border-radius: 8px;
	margin-bottom: 310px;
}
.moviedetail #menu .major a.selected ,
.moviedetail #menu .major a.back-button.selected {
	background: #90B03E;
	border-radius: 8px;
}


.moviedetail #menu .minor {
	position: absolute;
	width: 810px;
	height: 377px;
	top: 15px;
	left: 460px;

}

.moviedetail #menu .minor .arrow-button {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 381px;
	border-radius: 30px;
	margin: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

.moviedetail #menu .minor .arrow-button.sub.prev {
	left: -19px;
}

.moviedetail #menu .minor .arrow-button.sub.next {
	right: 30px;
}

.moviedetail #menu .minor .arrow-button:hover {
	opacity: 1;
	cursor: pointer;
}

.moviedetail #menu .minor .arrow-left {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.moviedetail #menu .minor .arrow-right {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -5px;
}


.moviedetail #menu .minor .back-tab {
	position: absolute;
	display: none;
}

.moviedetail #menu .minor .back-tab img {
	width: 90%;
	height: 90%;
	margin: 40px 0px 0px 25px;
}

.moviedetail #menu .minor .menu-tab {
	position: absolute;
	display: none;
	width: 810px;
}

.moviedetail #menu .minor .sub.{
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

.moviedetail #menu .minor .sub-header {
	margin-top: 0px;
	height: 30px;
	color: rgba(189,239,254,1.00);
	/*color: #FFFF92;*/
}

.moviedetail #menu .minor .sub-footer {
	position: relative;
	height: 50px;
	color: #C0DDA3;
	text-align: center;
	top: -60px;
	left: -20px;
	text-shadow: 2px 2px 6px #000000;

}

.moviedetail #menu .minor .sub-content {
    margin-top: 2px;
	height: 550px;
    overflow: hidden;
    position: relative;
}

.moviedetail #menu .minor .sub-content p {
	margin-bottom: 2px;
	line-height: 40px;
	padding-top: 16px;
	padding-bottom: 0px;
	padding-right: 20px;
}
.moviedetail #menu .minor .sub-content p.title{
	font-size: 30px;
}
.moviedetail #menu .minor .sub-content p.year,
.moviedetail #menu .minor .sub-content p.length,
.moviedetail #menu .minor .sub-content p.rating{
  float: left;  
  font-weight: normal;
 }


.moviedetail #menu .minor .sub-content .sub-image1 img
,.moviedetail #menu .minor .sub-content .sub-image2 img {
	width: 100%;
	height: 100%;
}

/* Layout 1, text only */
.moviedetail #menu .minor .sub-content.layout1 {
	
}

.moviedetail #menu .minor .sub-content.layout1 .sub-text1{
	display: inline-block;
	width: 100%;
	padding-top: 20px;
}

.moviedetail #menu .minor .sub-content.layout1 .sub-text2{
	display: block;
	width: 100%;
	position: absolute;
	margin-top: 100px;
}

.moviedetail #menu .minor .sub-content.layout1 .sub-image1{
	display: none;
}

.moviedetail #menu .minor .sub-content.layout1 .sub-image2{
	display: none;
}

/* Layout 2, text and image side by side */
.moviedetail #menu .minor .sub-content.layout2 {
	
}

.moviedetail #menu .minor .sub-content.layout2 .sub-text1{
	display: inline-block;
	float: left;
	width: 520px;
	padding-top: 20px;
	padding-right: 10px;
	z-index: 2;
}

.moviedetail #menu .minor .sub-content.layout2 .sub-text2{
	display: none;
}

.moviedetail #menu .minor .sub-content.layout2 .sub-image1{
	display: inline-block;
	float: right;
	width: 260px;
	padding-top: 5px;
	padding-left: 0px;
	z-index: 1;
	right: 1px;
}

.moviedetail #menu .minor .sub-content.layout2 .sub-image2{
	display: none;
}

/* Layout 2b, 2 text blocks side by side */
.moviedetail #menu .minor .sub-content.layout2b {
	
}

.moviedetail #menu .minor .sub-content.layout2b .sub-text1{
	display: inline-block;
	float: left;
	width: 620px;
	padding-top: 20px;
	padding-right: 10px;
	z-index: 2;
}

.moviedetail #menu .minor .sub-content.layout2b .sub-text2{
	display: inline-block;
	/*float: right;*/
	position: absolute;
	left: 400px;
	width: 360px;
	padding-top: 20px;
	padding-left: 0px;
	z-index: 1;
}

.moviedetail #menu .minor .sub-content.layout2b .sub-image1{
	display: none;
}

.moviedetail #menu .minor .sub-content.layout2b .sub-image2{
	display: none;
}

/* Layout 3, text and image aligns vertically */
.moviedetail #menu .minor .sub-content.layout3 {
	
}

.moviedetail #menu .minor .sub-content.layout3 .sub-text1{
	float: none;
	height: 210px;
	width: 720px;
	padding-top: 20px;
}

.moviedetail #menu .minor .sub-content.layout3 .sub-text2{
	display: none;
}

.moviedetail #menu .minor .sub-content.layout3 .sub-image1{
	float: none;
	height: 220px;
}

.moviedetail #menu .minor .sub-content.layout3 .sub-image2{
	display: none;
}


/* Layout 4, text 1 on top, text 2 and image at bottom */
.moviedetail #menu .minor .sub-content.layout4 {
	
}

.moviedetail #menu .minor .sub-content.layout4 .sub-text1{
	display: block;
	float: none;
	height: 220px;
	padding-top: 20px;
}

.moviedetail #menu .minor .sub-content.layout4 .sub-text2{
	float: left;
	width: 500px;
	height: 200px;
}

.moviedetail #menu .minor .sub-content.layout4 .sub-image1{
	float: left;
	width: 240px;
	height: 200px;
}

.moviedetail #menu .minor .sub-content.layout4 .sub-image2{
	display: none;
}

/* Layout 5, text overlays image */
.moviedetail #menu .minor .sub-content.layout5 {
	
}

.moviedetail #menu .minor .sub-content.layout5 .sub-text1{
	display: block;
	position: absolute;
	height: 225px;
	width: 760px;
	top: 20px;
	left: 10px;
	padding: 15px;
	z-index: 1;
	background: rgba(0,0,0,0);
}

.moviedetail #menu .minor .sub-content.layout5 .sub-text2{
	display: none;
}

.moviedetail #menu .minor .sub-content.layout5 .sub-image1{
	width: 100%;
	height: 100%;
}

.moviedetail #menu .minor .sub-content.layout5 .sub-image2{
	display: none;
}


/* Layout 6, ONLY an image (map) */
.moviedetail #menu .minor .sub-content.layout6 {
	
}

.moviedetail #menu .minor .sub-content.layout6 .sub-text1{
	display: none;
}

.moviedetail #menu .minor .sub-content.layout6 .sub-text2{
	display: none;
}

.moviedetail #menu .minor .sub-content.layout6 .sub-image1{
	width: 100%;
	height: 100%;
	padding-top: 20px;
}

.moviedetail #menu .minor .sub-content.layout6 .sub-image2{
	display: none;
}

/* Layout 7, EDUCATION LIBRARY */
.moviedetail #menu .minor .sub-content.layout7 {
	
}

.moviedetail #menu .minor .sub-content.layout7 .sub-text1{
	display: inline-block;
	width: 100%;
	padding-top: 20px;
	font-size: 32px;
}

.moviedetail #menu .minor .sub-content.layout7 .sub-text2{
	display: inline-block;
	width: 100%;
	padding-top: 10px;
}

.moviedetail #menu .minor .sub-content.layout7 .sub-image1{
	width: 32px;
	height: 32px;
	margin: -20px 0 0 0px;
}

.moviedetail #menu .minor .sub-content.layout7 .sub-image2{
	display: none;
}
