.page.myprograms {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(../images/bk_default2.jpg) top left no-repeat;
}

.page.myprograms .background {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: url(../images/bk_default2.jpg) top left no-repeat;
	z-index: 1;
}

.page.myprograms .page-title {
	left: 66px;
	top: 100px;
	width: 544px;
	height: 66px;
	z-index: 1;
	text-align: center;
	letter-spacing: 1px;
	color: #549FC3;
	line-height: 72px;
	background-size: cover;
	background-color: #FCFCFC;
	box-shadow: 1px 4px 8px 0px #353535; 
	border-top-left-radius: 26px 26px;
	border-top-right-radius: 26px 26px;
	font-weight: bold;
	position: absolute;
}

.page.myprograms #header {
	width: 100%;
	height: 145px;
	position: absolute;
	background: url(../images/bk_secondary_gradient.png) top left no-repeat;
}

.page.myprograms #header #heading1 {
	height: 100px;
	top: 75px;
	left: 436px;
	position: absolute;
	display: inline-block;
	float: left;
}

.page.myprograms #header #heading1 p {
    color: #003768;
}

.page.myprograms #header #heading2 {
	width: 556px;
	height: 58px;
	top: 162px;
	left: 60px;
	position: absolute;
	float: left;
	z-index: 1;
	background-color: #559CBE;
	box-shadow: 1px 4px 8px 0px #353535;	
}	

.page.myprograms #header #heading2 p {
	color: #F0F4F5;
	text-align: center;
	font-size: 28px;
	padding-top: 14px;
	font-weight: 600;
}

.page.myprograms #content {
	width: 100%;
	height: 575px;
	top: 145px;
	position: absolute;
	left: 0px;
	background: url(../images/bk_default2.jpg) top left no-repeat;

}

.page.myprograms #menu {
	width: 100%;
	height: 100%;
}

.page.myprograms #menu .major {
	position: absolute;
	width: 544px;
	height: 439px;
	left: 66px;
	top: 48px;
	padding: 25px 0 0 0;
	box-shadow: 2px 2px 6px 0px #0C1E32;	
    background-color: rgba(31, 87, 112, 1.0);
	border-bottom-right-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;
	-webkit-box-shadow: 2px 2px 6px 0px #0C1E32;
    overflow-y: auto;    
	overflow-x: hidden;			
}

.page.myprograms #menu .major a {
	position: relative;
	display: block;
	height: 30px;
	margin-top: 8px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 15px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 26px;
	font-weight: 700;
	letter-spacing: .5px;	
	/*color below is GV: #003768;*/
	background-color: rgba(0,55,104,0.90);	
}

.page.myprograms #menu .major a.back-button {
	/*  position: absolute;
	width: 292px;*/
	font-size: 26px;
	top: 4px;
	text-align: left;
	margin-bottom: 16px;
	background-color: rgba(84,159,195,0.50);
}
.page.myprograms #menu .major a.selected {
	background-color: #90B03E;
}

.page.myprograms #menu .minor {
	position: absolute;
	width: 600px;
	height: 377px;
	top: 110px;
	left: 660px;
}

.page.myprograms #menu .minor .arrow-button {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 381px;
	border-radius: 30px;
	margin: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
}

.page.myprograms #menu .minor .arrow-button.sub-page-prev {
	left: -19px;
}

.page.myprograms #menu .minor .arrow-button.sub-page-next {
	right: 30px;
}

.page.myprograms #menu .minor .arrow-button:hover {
	opacity: 1;
	cursor: pointer;
}

.page.myprograms #menu .minor .arrow-left {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.page.myprograms #menu .minor .arrow-right {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -5px;
}


.page.myprograms #menu .minor .back-tab {
	position: absolute;
	display: none;
}

.page.myprograms #menu .minor .back-tab img {
	width: 90%;
	height: 90%;
	margin: 40px 0px 0px 25px;
}

.page.myprograms #menu .minor .menu-tab {
	position: absolute;
	display: none;
	width: 610px;
}

.page.myprograms #menu .minor .sub-page {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

.page.myprograms #menu .minor .sub-header {
	margin-top: -20px;
	height: 30px;
	color: rgba(189,239,254,1.00);
	/*color: #FFFF92;*/
}

.page.myprograms #menu .minor .sub-footer {
	position: relative;
	height: 50px;
	color: #C0DDA3;
	text-align: center;
	top: -60px;
	left: -20px;
	text-shadow: 2px 2px 6px #000000;

}

.page.myprograms #menu .minor .sub-content {
    margin-top: 2px;
	height: 420px;
    overflow: hidden;
    position: relative;
}

.page.myprograms #menu .minor .sub-content p {
	margin-bottom: 2px;
	line-height: 50px;
	padding-top: 26px;
	padding-bottom: 0px;
	padding-right: 30px;
}

.page.myprograms #menu .minor .sub-content .sub-image1 img
,.page.myprograms #menu .minor .sub-content .sub-image2 img {
	width: 100%;
	height: 100%;
}

/* Layout 1, text only */
.page.myprograms #menu .minor .sub-content.layout1 {
	
}

.page.myprograms #menu .minor .sub-content.layout1 .sub-text1{
	display: inline-block;
	width: 100%;
	padding-top: 20px;

}

.page.myprograms #menu .minor .sub-content.layout1 .sub-text2{
	display: inline-block;
	width: 100%;
	padding-top: 10px;
}

.page.myprograms #menu .minor .sub-content.layout1 .sub-image1{
	display: none;
}

.page.myprograms #menu .minor .sub-content.layout1 .sub-image2{
	display: none;
}

/* Layout 2, text and image side by side */
.page.myprograms #menu .minor .sub-content.layout2 {
	
}

.page.myprograms #menu .minor .sub-content.layout2 .sub-text1{
	display: inline-block;
	float: left;
	width: 520px;
	padding-top: 20px;
	padding-right: 10px;
	z-index: 2;
}

.page.myprograms #menu .minor .sub-content.layout2 .sub-text2{
	display: none;
}

.page.myprograms #menu .minor .sub-content.layout2 .sub-image1{
	display: inline-block;
	float: right;
	width: 260px;
	padding-top: 15px;
	padding-left: 0px;
	z-index: 1;
	right: 1px;
}

.page.myprograms #menu .minor .sub-content.layout2 .sub-image2{
	display: none;
}

/* Layout 2b, 2 text blocks side by side */
.page.myprograms #menu .minor .sub-content.layout2b {
	
}

.page.myprograms #menu .minor .sub-content.layout2b .sub-text1{
	display: inline-block;
	float: left;
	width: 620px;
	padding-top: 20px;
	padding-right: 10px;
	z-index: 2;
}

.page.myprograms #menu .minor .sub-content.layout2b .sub-text2{
	display: inline-block;
	/*float: right;*/
	position: absolute;
	left: 400px;
	width: 360px;
	padding-top: 20px;
	padding-left: 0px;
	z-index: 1;
}

.page.myprograms #menu .minor .sub-content.layout2b .sub-image1{
	display: none;
}

.page.myprograms #menu .minor .sub-content.layout2b .sub-image2{
	display: none;
}

/* Layout 3, text and image aligns vertically */
.page.myprograms #menu .minor .sub-content.layout3 {
	
}

.page.myprograms #menu .minor .sub-content.layout3 .sub-text1{
	float: none;
	height: 210px;
	width: 720px;
	padding-top: 20px;
}

.page.myprograms #menu .minor .sub-content.layout3 .sub-text2{
	display: none;
}

.page.myprograms #menu .minor .sub-content.layout3 .sub-image1{
	float: none;
	height: 220px;
}

.page.myprograms #menu .minor .sub-content.layout3 .sub-image2{
	display: none;
}


/* Layout 4, text 1 on top, text 2 and image at bottom */
.page.myprograms #menu .minor .sub-content.layout4 {
	
}

.page.myprograms #menu .minor .sub-content.layout4 .sub-text1{
	display: block;
	float: none;
	height: 220px;
	padding-top: 20px;
}

.page.myprograms #menu .minor .sub-content.layout4 .sub-text2{
	float: left;
	width: 500px;
	height: 200px;
}

.page.myprograms #menu .minor .sub-content.layout4 .sub-image1{
	float: left;
	width: 240px;
	height: 200px;
}

.page.myprograms #menu .minor .sub-content.layout4 .sub-image2{
	display: none;
}

/* Layout 5, text overlays image */
.page.myprograms #menu .minor .sub-content.layout5 {
	
}

.page.myprograms #menu .minor .sub-content.layout5 .sub-text1{
	display: block;
	position: absolute;
	height: 225px;
	width: 760px;
	top: 20px;
	left: 10px;
	padding: 15px;
	z-index: 1;
	background: rgba(0,0,0,0);
}

.page.myprograms #menu .minor .sub-content.layout5 .sub-text2{
	display: none;
}

.page.myprograms #menu .minor .sub-content.layout5 .sub-image1{
	width: 100%;
	height: 100%;
}

.page.myprograms #menu .minor .sub-content.layout5 .sub-image2{
	display: none;
}


/* Layout 6, ONLY an image (map) */
.page.myprograms #menu .minor .sub-content.layout6 {
	
}

.page.myprograms #menu .minor .sub-content.layout6 .sub-text1{
	display: none;
}

.page.myprograms #menu .minor .sub-content.layout6 .sub-text2{
	display: none;
}

.page.myprograms #menu .minor .sub-content.layout6 .sub-image1{
	width: 100%;
	height: 100%;
	padding-top: 20px;
}

.page.myprograms #menu .minor .sub-content.layout6 .sub-image2{
	display: none;
}

/* Layout 7, EDUCATION LIBRARY */
.page.myprograms #menu .minor .sub-content.layout7 {
	
}

.page.myprograms #menu .minor .sub-content.layout7 .sub-text1{
	display: inline-block;
	width: 100%;
	padding-top: 15px;
	font-size: 24px;
	line-height: 47px;
    font-weight: bold;
    /*color: #FBFBFC;*/
    letter-spacing: 0px;
}

.page.myprograms #menu .minor .sub-content.layout7 .sub-text2{
	display: inline-block;
	width: 100%;
	padding-top: 0px;	
}

.page.myprograms #menu .minor .sub-content.layout7 .sub-image1{
	width: 32px;
	height: 32px;
	margin-top: -26px;
	margin-right: 0;
	margin-left: 30px;
	margin-bottom: 0;
}

.page.myprograms #menu .minor .sub-content.layout7 .sub-image2{
	display: none;
}

