.primary {
	background: url(../images/bk_home.jpg) top left no-repeat;
}

.primary #header {
	width: 100%;
	height: 216px;
	position: absolute;
}

.primary #header #patient {
	width: 725px;
	height: 110px;
	top: 40px;
	left: 60px;
	position: absolute;
	display: inline-block;
	float: left;
}

.primary #header #patient p {
	line-height: 30px;
	text-align: left;
	color: #003768;
	font-weight: 700;
}

.primary #header #patient p.welcome, p.name, p.location, p.phone	{ 
	line-height: 32px;
	font-size: 28px;
	text-align: left;
	color: rgba(0,0,0,1.00);
}

.primary #header #date {
	width: 450px;
	height: 36px;
	top: 42px;
	left: 800px;
	position: absolute;
	display: inline-block;
	float: left;
	background-color: hsla(206,100%,19%, .90);
	border-radius: 10px;
	padding-top: 6px;
	padding-left: 6px;
}

.primary #header #date p {
	line-height: 28px;
	text-align: left;
	color: #F9FAFB;
}

.primary #header #slideshow{
	width: 330px;
	height: 186px;
	display: block;
	float: left;
	margin-left: 880px;
	margin-top: -656px;
}

.primary #content {
	width: 100%;
	height: 711px;
	top: 0px;
	position: absolute;
}

.primary #menu {
	width: 100%;
	height: 100%;
}

/*.primary #menu .slides {
	position: absolute;
	top: 286px;
	left: 66px;
	width: 1148px;
	height: 435px;
}

.primary #menu .slides .slide {
	width: 1148px;
	height: 491px;
	display: none;
}


.primary #menu .slides #menu1-slide {
	background: url('../images/img_main_dine.jpg') top left no-repeat;
}

.primary #menu .slides #menu2-slide {
	background: url('../images/img_main_learn.jpg') top left no-repeat;
}

.primary #menu .slides #menu3-slide {
	background: url('../images/img_main_visit.jpg') top left no-repeat;
}

.primary #menu .slides #menu4-slide {
	background: url('../images/img_main_watch.jpg') top left no-repeat;
}

.primary #menu .slides #menu5-slide {
	background: url('../images/img_main_relax.jpg') top left no-repeat;
}
*/

.primary #menu .major {
	background: url('../images/menubar_slice.png') repeat-x;
	position: absolute;
	width: 100%;
	height: 69px;
	padding: 0;
	left: 0px;
	top: 216px;
}

.primary #menu .major a {
	position: absolute;
	height: 59px;
	margin: 0;
	padding-top: 27px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0px;
	text-align: center;
	font-size: 30px;
	color: #003768;
	top: -11px;
	font-weight: bold;
	letter-spacing: .5px;
}

.primary #menu .major a.selected {
	font-size: 36px;
	background-repeat: no-repeat;
	background-position: center top no-repeat;
	background-color: #FCFCFC;
	/*background-image: url('../images/menubar_highlight.png');*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*height: 48px;*/
	margin-top: 0px;
	padding-top: 20px;
	color: #559CBE;
	border-top-right-radius: 8px 8px;
	border-top-left-radius: 8px 8px;
	box-shadow: 3px 0px 6px 3px rgba(3,3,3, .3);
	border: 1px solid #559CBE;	
	/*text-shadow: 2px 2px 6px rgba(3,3,3, .8);*/
}

.primary #menu .major a#menu1 {
	left: 60px;
	width: 252px;	
}

.primary #menu .major a#menu2 {
	left: 284px;
	width: 288px;
}

.primary #menu .major a#menu3 {
	left: 537px;
	width: 240px;
}

.primary #menu .major a#menu4 {
	left: 738px;
	width: 272px;
}

.primary #menu .major a#menu5 {
	left: 990px;
	width: 262px;
}


.primary #menu .minor {
	position: absolute;
	width: 100%;
	height: 495px;
	top: 285px;

}

.primary #menu .minor .menu-group {
	position: absolute;
	border: 1px solid #32455E;
	background: rgba(0,55,104,.9);
	margin: 0;
	padding-top: 15px;
	padding-right: 0;
	padding-left: 0px;
	padding-bottom: 15px;
	display: none;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.primary #menu .minor #menu1-group {
	left: 30px;
	width: 318px;
}

.primary #menu .minor #menu2-group {
	left: 268px;
	width: 318px;
}

.primary #menu .minor #menu3-group {
	left: 522px;
	width: 270px;
}

.primary #menu .minor #menu4-group {
	left: 720px;
	width: 302px;
}

.primary #menu .minor #menu5-group {
	left: 980px;
	width: 282px;
}


.primary #menu .minor .menu-group a {
	display: block;
	padding: 5px 15px;
	line-height: 28pt;
	font-weight: 600;
	font-size: 28px;
	letter-spacing: 1px;
	color: #FFFFFF;
}
.primary #menu .minor .menu-group a.selected {
	display: block;
	padding: 5px 15px;
	line-height: 28pt;
	font-weight: 600;
	font-size: 28px;
	letter-spacing: 1px;
	color: #FFFFFF;
}

.primary #revision {
	position: absolute;
	left: 20px;
	bottom: 10px;
	font-size: 12px;
	color: #A4CEE4;
}
