.page.secondary {
	width: 1280px;
	height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
	background: url(../images/bk_default2.jpg) top left no-repeat;
}

.page.secondary .background {
    width: 1280px;
    height: 720px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(../images/bk_default2.jpg) top left no-repeat;
    z-index: 1;
}

.page.secondary .page-title {
	left: 66px;
	top: 100px;
	width: 328px;
	height: 66px;
	z-index: 1;
	text-align: center;
	letter-spacing: 1px;
	color: #549FC3;
	line-height: 72px;
	background-size: cover;
	background-color: #FCFCFC;
	box-shadow: 1px 4px 8px 0px #353535; 
	border-top-left-radius: 26px 26px;
	border-top-right-radius: 26px 26px;
	font-weight: bold;
	position: absolute;
}

.page.secondary #header {
    width: 100%;
    height: 145px;
    position: absolute;
    background: url(../images/bk_secondary_gradient.png) top left no-repeat;
}

.page.secondary #header #heading1 {
    height: 100px;
    top: 75px;
    left: 436px;
    position: absolute;
    display: inline-block;
    float: left;
}

.page.secondary #header #heading1 p {
    color: #003768;
}

.page.secondary #header #heading2 {
	width: 340px;
	height: 58px;
	top: 162px;
	left: 60px;
	position: absolute;
	float: left;
	z-index: 1;
	background-color: #559CBE;
	box-shadow: 1px 4px 8px 0px #353535;    
}

.page.secondary #header #heading2 p {
    color: #F0F4F5;
    text-align: center;
    font-size: 28px;
    padding-top: 14px;
    font-weight: 600;
}

div.datetime {
    width: 420px;
    height: 30px;
    top: 52px;
    left: 824px;
    position: absolute;
    display: inline-block;
    float: left;
    text-align: right;
}

div.datetime text, p.datetime text {
    line-height: 28px;
    color: #04090E;
    font-weight: 400;
}

.page.secondary #content {
    width: 100%;
    height: 575px;
    top: 145px;
    position: absolute;
    left: 0px;
    background: url(../images/bk_default2.jpg) top left no-repeat;
}

.page.secondary #menu {
    width: 100%;
    height: 100%;
}

.page.secondary #menu .major {
    position: absolute;
    width: 330px;
    height: 426px;
    left: 66px;
    top: 76px;
    padding: 35px 0 0 0;
    /*background: #333230;*/
    box-shadow: 2px 2px 6px 0px #0C1E32;
    background-color: rgba(31, 87, 112, 1.0);
    border-bottom-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    -webkit-box-shadow: 2px 2px 6px 0px #0C1E32;
}

.page.secondary #menu .major a {
	position: relative;
	display: block;
	height: 30px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 15px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 1px;
	/*border-radius: 8px;*/
	background-color: #003768;
	/*background-color: rgba(21,60,77,1.00);
	/*background-color: rgba(48, 138, 200, 1.00);*/
}

.page.secondary #menu .major a.back-button {
	/*  position: absolute;
    width: 292px;*/
	font-size: 26px;
	top: 0px;
	text-align: left;
	margin-bottom: 20px;
	background-color: rgba(84,159,195,0.50);
	/*border-radius: 8px;*/
}

.page.secondary #menu .major a.selected {
	background-color: #90B03E;
	/*border-radius: 8px;*/
}

.page.secondary #menu .minor {
    position: absolute;
    width: 810px;
    height: 380px;
    top: 42px;
    left: 420px;
}

.page.secondary #menu .minor .arrow-button {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 404px;
    border-radius: 30px;
    margin: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
}

.page.secondary #menu .minor .arrow-button.sub-page-prev {
    left: -20px;
}

.page.secondary #menu .minor .arrow-button.sub-page-next {
    right: 50px;
}

.page.secondary #menu .minor .arrow-button:hover {
    opacity: 1;
    cursor: pointer;
}

.page.secondary #menu .minor .arrow-left {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -15px;
}

.page.secondary #menu .minor .arrow-right {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -5px;
}

.page.secondary #menu .minor .back-tab {
    position: absolute;
    display: none;
}

.page.secondary #menu .minor .back-tab img {
    width: 90%;
    height: 90%;
    margin: 40px 0px 0px 25px;
}

.page.secondary #menu .minor .menu-tab {
    position: absolute;
    display: none;
    width: 810px;
}

.page.secondary #menu .minor .sub.{
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.page.secondary #menu .minor .sub-header {
    margin-top: 0px;
    height: 30px;
    color: rgba(189, 239, 254, 1.00);
    padding-left: 20px; /*color: #FFFF92;*/
}

.page.secondary #menu .minor .sub-footer {
    position: absolute;
    height: 50px;
    color: #F5F2A2;
    text-align: center;
    top: 420px;
    left: 80px;
    text-shadow: 2px 2px 6px #000000;
}

.page.secondary #menu .minor .sub-content {
    margin-top: -52px;
    height: 516px;
    width: 860px;
    overflow: hidden;
    position: relative;
}

.page.secondary #menu .minor .sub-content p {
    margin-bottom: 15px;
    line-height: 28pt;
}

.page.secondary #menu .minor .sub-content .sub-image1 img, .page.secondary #menu .minor .sub-content .sub-image2 img {
    width: 100%;
    height: 100%;
}

/* Layout 1, text only */
.page.secondary #menu .minor .sub-content.layout1 {

}

.page.secondary #menu .minor .sub-content.layout1 .sub-text1 {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-left: 15px;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-text2 {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-image1 {
    display: none;
}

.page.secondary #menu .minor .sub-content.layout1 .sub-image2 {
    display: none;
}

/* Layout 2, text and image side by side */
.page.secondary #menu .minor .sub-content.layout2 {

}

.page.secondary #menu .minor .sub-content.layout2 .sub-text1 {
    display: inline-block;
    float: left;
    width: 520px;
    padding-top: 20px;
    padding-right: 10px;
    z-index: 2;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-text2 {
    display: none;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-image1 {
    display: inline-block;
    float: right;
    width: 260px;
    padding-top: 5px;
    padding-left: 0px;
    z-index: 1;
    right: 1px;
}

.page.secondary #menu .minor .sub-content.layout2 .sub-image2 {
    display: none;
}

/* Layout 2b, 2 text blocks side by side */
.page.secondary #menu .minor .sub-content.layout2b {

}

.page.secondary #menu .minor .sub-content.layout2b .sub-text1 {
    display: inline-block;
    float: left;
    width: 620px;
    padding-top: 20px;
    padding-right: 10px;
    z-index: 2;
}

.page.secondary #menu .minor .sub-content.layout2b .sub-text2 {
    display: inline-block;
    /*float: right;*/
    position: absolute;
    left: 400px;
    width: 360px;
    padding-top: 20px;
    padding-left: 0px;
    z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout2b .sub-image1 {
    display: none;
}

.page.secondary #menu .minor .sub-content.layout2b .sub-image2 {
    display: none;
}

/* Layout 3, text and image aligns vertically */
.page.secondary #menu .minor .sub-content.layout3 {

}

.page.secondary #menu .minor .sub-content.layout3 .sub-text1 {
    float: none;
    height: 210px;
    width: 720px;
    padding-top: 20px;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-text2 {
    display: none;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-image1 {
    float: none;
    height: 220px;
}

.page.secondary #menu .minor .sub-content.layout3 .sub-image2 {
    display: none;
}

/* Layout 4, text 1 on top, text 2 and image at bottom */
.page.secondary #menu .minor .sub-content.layout4 {

}

.page.secondary #menu .minor .sub-content.layout4 .sub-text1 {
    display: block;
    float: none;
    height: 220px;
    padding-top: 20px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-text2 {
    float: left;
    width: 500px;
    height: 200px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-image1 {
    float: left;
    width: 240px;
    height: 200px;
}

.page.secondary #menu .minor .sub-content.layout4 .sub-image2 {
    display: none;
}

/* Layout 5, text overlays image */
.page.secondary #menu .minor .sub-content.layout5 {

}

.page.secondary #menu .minor .sub-content.layout5 .sub-text1 {
    /*display: none;*/
    display: block;
    position: absolute;
    height: 225px;
    width: 760px;
    top: 20px;
    left: 10px;
    padding: 15px;
    z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout5 .sub-text2 {
    display: block;
    position: absolute;
    height: 40px;
    width: 300px;
    top: 490px;
    left: 586px;
    padding: 0px;
    z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout5 .sub-image1 {
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.page.secondary #menu .minor .sub-content.layout5 .sub-image2 {
    display: none;
}

/* Layout 6, ONLY an image (map) */
.page.secondary #menu .minor .sub-content.layout6 {

}

.page.secondary #menu .minor .sub-content.layout6 .sub-text1 {
    display: none;
}

.page.secondary #menu .minor .sub-content.layout6 .sub-text2 {
    display: none;
}

.page.secondary #menu .minor .sub-content.layout6 .sub-image1 {
    width: 100%;
    height: 100%;
}

.page.secondary #menu .minor .sub-content.layout6 .sub-image2 {
    display: none;
}
/* Layout 7, Text with Menu return text on bottom */
.page.secondary #menu .minor .sub-content.layout7 {

}

.page.secondary #menu .minor .sub-content.layout7 .sub-text1 {
    /*display: none;*/
    display: block;
    position: absolute;
    height: 225px;
    width: 740px;
    top: 20px;
    left: 10px;
    padding: 15px;
    z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout7 .sub-text2 {
    display: block;
    position: absolute;
    height: 40px;
    width: 300px;
    top: 480px;
    left: 586px;
    padding: 0px;
    z-index: 1;
}

.page.secondary #menu .minor .sub-content.layout7 .sub-image1 {
    display: none;
}

.page.secondary #menu .minor .sub-content.layout7 .sub-image2 {
    display: none;
}
